*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ff6242;
    position: relative;
}

#container{
    position: relative;
    height: fit-content;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: #e0422267;
    border-radius: 30px;
    border-style:solid;
    border-width: 7px;
    border-color: #45413cc4;
}

#headName{
    background-color: #9cec60;
    margin-bottom: 30px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-style: solid;
    padding: 3px;
    border-width: 4px;
    border-color: #45413ce3;
}

#indexName{
    background-color: #63584be5;
    margin-bottom: 30px;
    border-radius: 40px;
    border-style: solid;
    border-color: #6dd627ee;
    border-width: 5px;
    padding: 5px;
    padding-right: 100px;
    padding-left: 100px;
    display: inline-block;
    color: #6dd627;
}

#mainContent{
    text-align: center;
}

/*images control*/

#tomato1{
    position: absolute;
    transform: rotate(-30deg);
    left: 120px;
    top: 50px; 
}


#tomato2{
    position: absolute;
    transform: rotate(30deg);
    right: 120px;
    top: 50px; 
}

/*Time Control*/
#timeContent{
    font-size: 100px;
}
.timeControl{
    display: inline-block;
}


/*buttons Control */
#buttonsContent{
    margin-top: 30px;
    display: inline-block;
}
.btnControl{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/*Count pomodoro times*/
#pomodoroCount{
    display: inline-block;
    position: absolute;
    bottom:0px;
    right: 0px;
    background-color: #45413c85;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border-end-end-radius: 20px;
    border-start-start-radius: 20px;
}

#siteExplain{
    position: absolute;
    height: 70px;
    left: 50px;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(111, 110, 110);
    cursor: pointer;

}

#explainDiv{
    position: absolute;
    background-color: rgb(149, 149, 150);
    height:fit-content;
    width: 630px;
    top:70px;
    left: 15px;    
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: cornsilk;

}

#explainText{
    font-size: 20px;
    padding: 20px;
}

#explainClose{
    position: absolute;
    right: 0px;
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
}
